.list-trending-container {
  height: 220px;
  width: 900px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
  padding: 10px;
  border-radius: 10px;
}

.thumbnail-trending-image {
  height: 200px;
  width: 400px;
}

.title-name-container {
  max-height: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: -12px;
  gap: -30px;
}

.title {
  font-family: Roboto;
  font-size: 15px;
  color: #1e293b;
  font-weight: bold;
}

.name {
  font-family: Roboto;
  font-size: 15px;
  color: #1e293b;
  margin-top: -5px;
}

.view-count-published-container {
  height: 20px;
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: -10px;
}

.view-count {
  font-family: Roboto;
  font-size: 12px;
  color: #1e293b;
}

.views {
  font-family: Roboto;
  font-size: 10px;
  color: #1e293b;
}

.dot {
  font-family: Roboto;
  font-size: 10px;
  color: #1e293b;
  font-weight: bold;
}

.published-at {
  font-family: Roboto;
  font-size: 12px;
  color: #1e293b;
}

.gaming-list-container {
  height: 300px;
  width: 180px;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
  padding: 10px;
  border-radius: 10px;
}

.gaming-images {
  height: 240px;
  width: 160px;
}

.gaming-title {
  font-family: Roboto;
  font-size: 13px;
  color: #000000;
  font-weight: bold;
}

.gaming-views {
  font-family: Roboto;
  font-size: 10px;
  color: #000000;
  margin-top: -5px;
}

.link {
  text-decoration: none;
}
