.nav-para {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  height: 120vh;
  width: 1200px;
  padding-left: 20px;
  padding-right: 10px;
}

.video-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-height: 110vh;
  width: 1200px;
}

.title {
  font-family: Roboto;
  font-size: 13px;
  color: #000000;
  font-weight: 700;
}

.views-likes-container {
  height: 40px;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-right: 30px;
}

.views-published-container {
  height: 40px;
  width: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.views {
  font-family: Roboto;
  font-size: 12px;
  color: #000000;
}

.views-span {
  font-family: Roboto;
  font-size: 10px;
  color: #000000;
}

.dot {
  font-family: Roboto;
  font-size: 20px;
  color: #000000;
  text-align: center;
}

.published {
  font-family: Roboto;
  font-size: 12px;
  color: #000000;
}

.like-dislike-container {
  height: 40px;
  width: 180px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.like-like-text-container {
  height: 40px;
  width: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 3px;
  border-width: 0px;
  background-color: transparent;
}

.like-icon {
  height: 20px;
  width: 20px;
}
.icon {
  height: 20px;
  width: 20px;
  color: #2563eb;
  border-width: 0px;
  border-color: #2563eb;
}

.like-text {
  font-family: Roboto;
  font-size: 13px;
  color: #64748b;
}

.text {
  color: #2563eb;
  font-weight: bold;
}

.save-text {
  color: #2563eb;
  font-weight: bold;
}

.horizontal-line {
  height: 2px;
  width: 100%;
  color: #000000;
  border-style: solid;
  background-color: #000000;
}

.profile-container {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
}

.profile-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
}

.name-description-container {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 20px;
}

.name-subscriber-count {
  height: 30px;
  width: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.name {
  font-family: Roboto;
  font-size: 13px;
  color: #000000;
  font-weight: bold;
}

.subscriber-count {
  font-family: Roboto;
  font-size: 13px;
  color: #000000;
  margin-top: -5px;
}

.subscriber-span {
  font-family: Roboto;
  font-size: 12px;
  color: #000000;
}

.description {
  font-family: Roboto;
  font-size: 13px;
  color: #000000;
  font-weight: 700;
}

.saved-videos-route {
  display: none;
}
