.nav-bar-side-trending-container {
  max-height: 1000vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.trending-container {
  max-height: 1000vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.icon-trending-name-container {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  padding-left: 60px;
}

.fire-icon {
  height: 20px;
  width: 20px;
  color: #ff0000;
}

.fire-container {
  height: 40px;
  width: 40px;
  background-color: #475569;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trending-heading {
  font-family: Roboto;
  font-size: 25px;
  color: #1e293b;
  font-weight: bold;
}

.ul-container {
  max-height: 1000vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 50px;
}
