.nav-bar {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  position: fixed;
  z-index: 1;
  background-color: #ffffff;
}

.light {
  background-color: #181818;
  color: #ffffff;
}

.dark {
  background-color: #ffffff;
  color: #000000;
}

.nxt-watch-logo-2 {
  height: 20px;
  width: 80px;
}

.dark-mode-icon {
  height: 20px;
  width: 20px;
}

.profile-logo {
  height: 20px;
  width: 20px;
}

.light-mode-icon {
  height: 20px;
  width: 20px;
  color: #ffffff;
}

.logout-button {
  height: 20px;
  width: 60px;
  background-color: transparent;
  font-family: Roboto;
  font-size: 10px;
  color: #4f46e5;
  border-width: 2px;
  border-style: solid;
  border-color: #4f46e5;
  border-radius: 3px;
  font-weight: 700;
}

.logout-dark {
  color: #ffffff;
  border-color: #ffffff;
}

.dark-profile-logout-container {
  height: 60px;
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  width: 100%;
  gap: 20px;
}

.close {
  height: 30px;
  width: 60px;
  font-family: Roboto;
  font-size: 13px;
  color: #ffffff;
  border-width: 0px;
  background-color: #3b82f6;
  border-radius: 5px;
}

.button {
  height: 30px;
  width: 60px;
  font-family: Roboto;
  font-size: 13px;
  color: #000000;
  border-width: 0px;
  background-color: transparent;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
}

.paragraph {
  font-family: Roboto;
  font-size: 15px;
  color: #000000;
}

.buttons-container {
  height: 40px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}

.night-mode-button {
  border: none;
  background-color: transparent;
}
